html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.scrollFix {
  overflow: hidden;
}

.nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2014;
  height: 60px;
  line-height: 60px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.nav .logoWrap {
  padding-left: 10%;
}

.nav .logoWrap .logo {
  background: url("imgs/logo.svg") no-repeat left;
  background-size: contain;
  width: 160px;
  height: 32px;
  margin-top: 15px;
  float: left;
}

.whiteNav {
  background-color: white;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.whiteNav .logoWrap .logo {
  background: url("imgs/logo_black.svg") no-repeat left;
  background-size: contain;
  width: 160px;
  height: 32px;
  margin-top: 15px;
  float: left;
}

.whiteNav .menu a {
  color: black;
}

.menu {
  float: right;
  padding-right: 10%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 60px;
}

.menu a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 65px;
}

.menu a:hover {
  color: #e50872;
}

.menuBtn {
  font-size: 26px;
  line-height: 60px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

.bars {
  color: white;
}

.mainCarousel .mainCarouselImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.mainCarousel .mainImg1 {
  background-image: url("imgs/arvisual_main01.jpg");
}

.mainCarousel .mainImg2 {
  background-image: url("imgs/arvisual_main04.jpg");
}

.mainCarousel .mainImg3 {
  background-image: url("imgs/arvisual_main05.jpg");
}

.owl-dots {
  margin-top: -40px !important;
  z-index: 555 !important;
  position: relative !important;
}

.owl-dots .active span {
  background: #e50872 !important;
}

.owl-dots .owl-dot:hover span {
  background: #e50872 !important;
}

.mainInfo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  z-index: 5;
  padding-left: 10%;
}

.mainInfo h1 {
  font-size: 4.5em;
  line-height: 1.1em;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: .5px;
}

.mainInfo h2 {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 50px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: .5px;
}

.mainInfo .h2hide {
  display: none;
}

.mainInfo .socialBtns {
  margin-top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mainInfo .socialBtns a {
  color: white;
  font-size: 1.7em;
  margin-right: 30px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.mainInfo .socialBtns a:hover {
  color: #e50872;
}

.mainInfo .socialBtns a:active {
  color: #c50562;
}

.mainInfo .socialBtns a .fa-facebook-f {
  font-size: .9em;
}

.mobileAction {
  display: none;
}

.about {
  text-align: center;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.about h1 {
  margin-bottom: 40px;
}

.about .ourClients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.about .ourClients .ourClientLogo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 60px;
}

.about .ourClients .minotti {
  background-image: url("logos/minotti.png");
}

.about .ourClients .ikea {
  background-image: url("logos/ikea.png");
}

.about .ourClients .mariner {
  background-image: url("logos/mariner.png");
}

.about .ourClients .papadatos {
  background-image: url("logos/papadatos.png");
}

.about .ourClients .enne {
  background-image: url("logos/enne.png");
}

.about .ourClients .fritzhansen {
  background-image: url("logos/fritzhansen.png");
}

.about .ourClients .usm {
  background-image: url("logos/usm.png");
}

.about .ourClients .toshiba {
  background-image: url("logos/toshiba.png");
}

.about .ourClients .wever {
  background-image: url("logos/wever.jpg");
}

.about .ourClients .terzani {
  background-image: url("logos/terzani.png");
}

.news {
  margin-top: 50px;
  background-color: black;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.news .newsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  padding-top: 50px;
}

.news .newsFlex .newsItem {
  border-left: solid white 1px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  text-align: left;
  padding-left: 20px;
  padding-right: 40px;
}

.news .newsFlex .newsItem h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 0px;
}

.news .newsFlex .newsItem p {
  color: white;
  margin-top: 5px;
  line-height: 1.8em;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 14px;
}

.news .newsFlex .newsItem .date {
  color: white;
  font-size: 14px;
  margin: 0;
  letter-spacing: .8px;
}

.news .newsFlex .newsItem:nth-of-type(2) {
  margin: 0px 15px 0px 15px;
}

.news .buttonWrap {
  padding-bottom: 50px;
}

.news .buttonWrap .button {
  background: white;
  color: black;
  padding: 9px 25px 8px 25px;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.news .buttonWrap .button:hover {
  background-color: black;
  border: white 1px solid;
  color: white;
}

.news .buttonWrap .button:active {
  background-color: #272727;
}

.news .newsFlexMin {
  display: none !important;
}

.portfolio {
  text-align: center;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.portfolio h1 {
  margin-bottom: 10px;
}

.portfolio p {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.6em;
  margin-bottom: 50px;
}

.portfolio .portfolioFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolioFlex .pflItem {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: 600px;
  margin-top: 10px !important;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.portfolio .portfolioFlex .pflItem:nth-of-type(even) {
  margin: 0px .665% 0px .665%;
}

.portfolio .portfolioFlex .pflItem:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  cursor: pointer;
}

.portfolio .portfolioFlex .img01 {
  background-image: url("imgs/small/01.jpg");
}

.portfolio .portfolioFlex .img02 {
  background-image: url("imgs/small/02.jpg");
}

.portfolio .portfolioFlex .img03 {
  background-image: url("imgs/small/11.jpg");
}

.portfolio .portfolioFlex .img04 {
  background-image: url("imgs/small/04.jpg");
}

.portfolio .portfolioFlex .img05 {
  background-image: url("imgs/small/14.jpg");
}

.portfolio .portfolioFlex .img06 {
  background-image: url("imgs/small/31.jpg");
}

.portfolio .portfolioFlex .img07 {
  background-image: url("imgs/small/28.jpg");
}

.portfolio .portfolioFlex .img08 {
  background-image: url("imgs/small/29.jpg");
}

.portfolio .portfolioFlex .img09 {
  background-image: url("imgs/small/30.jpg");
}

.modalMain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

.modalMain .imgWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 90vh;
}

.modalMain .imgWrapper .actualImg {
  max-height: 90vh;
  max-width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modalMain .imgWrapper:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.modalMain .prev {
  position: absolute;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.modalMain .prev:hover {
  cursor: pointer;
  color: #e50872;
}

.modalMain .next {
  position: absolute;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.modalMain .next:hover {
  cursor: pointer;
  color: #e50872;
}

.modalMain .zoom {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modalMain .zoom .actualImg {
  height: auto;
  width: auto;
  max-width: unset;
  max-height: unset;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.modalMain .exitBtn {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5em;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.modalMain .exitBtn:hover {
  color: #e50872;
  cursor: pointer;
}

.cases {
  background: black;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.cases h1 {
  margin-bottom: 10px;
  color: white;
  padding-top: 30px;
}

.cases p {
  margin: 0 auto;
  max-width: 1000px;
  line-height: 1.6em;
  margin-bottom: 50px;
  color: white;
}

.cases .caseCarouselStudy .case {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.cases .caseCarouselStudy .study1 {
  background-image: url("imgs/small/35.jpg");
}

.cases .caseCarouselStudy .study2 {
  background-image: url("imgs/small/11.jpg");
}

.cases .caseCarouselStudy .study3 {
  background-image: url("imgs/small/12.jpg");
}

.cases .buttonWrap {
  margin-top: 50px;
}

.cases .buttonWrap .button {
  background: white;
  color: black;
  padding: 9px 25px 8px 25px;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.cases .buttonWrap .button:hover {
  background-color: black;
  border: white 1px solid;
  color: white;
}

.cases .buttonWrap .button:active {
  background-color: #272727;
}

.advantages {
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
}

.advantages h1 {
  text-align: center;
  color: white;
}

.advantages .advFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.advantages .advFlex .advUnit {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.advantages .advFlex .advUnit h3 {
  margin-bottom: 0px;
  letter-spacing: 0.2px;
}

.advantages .advFlex .advUnit p {
  padding-right: 100px;
  margin-top: 5px;
  font-weight: 200;
}

.ARpart {
  margin-top: 50px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.ARpart .videoWrapper {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 25px;
  height: 0;
  width: 50%;
  margin: 50px auto;
}

.ARpart .videoWrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ARpart .modelText {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
}

.modellingPart {
  margin-top: 50px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.modellingPart .modelText {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  padding-top: 10px;
}

footer h1 {
  text-align: center;
  color: white;
}

footer .footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerFlex .map {
  background: url("imgs/map.svg") no-repeat center;
  background-size: contain;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

footer .footerFlex .footInfo {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footerFlex .footInfo .addressFlex {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

footer .footerFlex .footInfo .addressFlex h2 {
  font-weight: 200;
  color: white;
  margin-bottom: 0;
}

footer .footerFlex .footInfo .addressFlex p {
  color: white;
  margin-top: 0;
}

footer .footerFlex .footInfo .addressFlex:nth-of-type(5) {
  margin-top: 20px;
}

.footSocial {
  background-color: black;
  text-align: center;
  padding-top: 30px;
}

.footSocial a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
  background-color: black;
}

.copyright p {
  margin-top: 0;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 30px;
  color: white;
}

@media only screen and (max-width: 1350px) {
  .news {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    padding-left: 6%;
    padding-right: 6%;
  }
  .about .ourClients {
    padding-left: 0;
    padding-right: 0;
  }
  .news .newsFlex {
    display: none;
  }
  .news .buttonWrap {
    display: none;
  }
  .news .newsFlexMin {
    display: block !important;
    padding-top: 45px;
    padding-bottom: 50px;
  }
  .news .newsFlexMin .newsItem {
    border-left: solid white 1px;
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .news .newsFlexMin .newsItem h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .news .newsFlexMin .newsItem p {
    color: white;
    margin-top: 5px;
    line-height: 1.8em;
    font-weight: 200;
    letter-spacing: .5px;
    font-size: 14px;
    max-width: 500px;
  }
  .news .newsFlexMin .newsItem .date {
    color: white;
    font-size: 14px;
    margin: 0;
    letter-spacing: .8px;
  }
  .news .newsFlexMin .newsItem:nth-of-type(2) {
    margin: 0px 15px 0px 15px;
  }
  .portfolio .portfolioFlex .pflItem {
    height: 300px;
  }
  .cases .caseCarousel .case {
    height: 300px;
  }
  .ARpart .galleryCarousel a .galleryCarouselImg {
    height: 300px;
  }
  .ARpart .galleryCarousel a .galleryCarouselImg h1 {
    font-size: 1em;
  }
  .ARpart .videoWrapper {
    width: 100%;
    padding-bottom: 56.25%;
  }
  .modalMain .next {
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .modalMain .next i {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modalMain .prev {
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .modalMain .prev i {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .footerFlex .footInfo {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .about .ourClients .ourClientLogo {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .about .ourClients .ourClientLogo:last-of-type {
    display: none;
  }
  .portfolio {
    padding-left: 6%;
    padding-right: 6%;
  }
  .portfolio .portfolioFlex .pflItem {
    margin-top: 4px !important;
  }
}

@media only screen and (max-width: 770px) {
  .portfolio .portfolioFlex .pflItem {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    height: 400px;
  }
  .portfolio .portfolioFlex .pflItem:nth-of-type(9) {
    display: none;
  }
  .nav .logoWrap {
    padding-left: 6%;
  }
  .menu {
    padding-right: 6%;
  }
  .menu a {
    margin-left: 30px;
  }
  .mainInfo {
    padding-left: 6%;
  }
  .mainCarousel .mainImg2 {
    background-image: url("imgs/arvisual_main02.jpg");
    background-position: right;
  }
  .mainCarousel .mainImg3 {
    background-image: url("imgs/arvisual_main03.jpg");
    background-position: right;
  }
  .about {
    padding-left: 6%;
    padding-right: 6%;
  }
  .about p {
    max-width: unset;
  }
  .portfolio {
    padding-left: 6%;
    padding-right: 6%;
  }
  .portfolio p {
    max-width: unset;
  }
  .cases {
    padding-left: 6%;
    padding-right: 6%;
  }
  .cases h1 {
    margin-top: 5px;
  }
  .cases p {
    margin-bottom: 40px;
  }
  .ARpart {
    padding-left: 6%;
    padding-right: 6%;
  }
  footer {
    padding-left: 6%;
    padding-right: 6%;
  }
  footer .footerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerFlex .map {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    height: 250px;
    margin-top: 30px;
  }
  footer .footerFlex .footInfo {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
  footer .footerFlex .footInfo .addressFlex:nth-of-type(5) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    line-height: 1.9em;
  }
  footer .footerFlex .footInfo .addressFlex:nth-of-type(5) p {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 700px) {
  .about h1 {
    margin-bottom: 20px;
  }
  .about .ourClients .ourClientLogo {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    margin-top: 20px;
  }
  .mainInfo h2 {
    padding-right: 6%;
  }
  .portfolio {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio p {
    margin-bottom: 30px;
  }
  .portfolio .portfolioFlex .pflItem {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 700px;
  }
  .portfolio .portfolioFlex .pflItem:nth-of-type(even) {
    margin: unset;
  }
  .portfolio .portfolioFlex .pflItem:hover {
    -webkit-transform: none;
            transform: none;
  }
  .cases {
    margin-top: 0;
  }
  .cases h1 {
    margin-top: 0;
  }
  .ARpart .videoWrapper {
    padding-bottom: 51.25%;
  }
}

@media only screen and (max-width: 590px) {
  .menuBtn {
    padding-right: 6%;
    display: block;
    cursor: pointer;
  }
  .menuBtn .bars {
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .menuBtn .bars:hover {
    color: #e50872;
  }
  .menu {
    text-align: center;
    width: 100%;
    position: absolute;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    left: -900px;
    top: 60px;
    opacity: 0;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .menu a:last-of-type {
    border-bottom: none;
  }
  .menuOn {
    left: 0px;
    opacity: 1;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    background: white;
    z-index: 9999;
    position: absolute;
  }
  .menuOn a {
    color: black;
    background-color: white;
  }
  .menuOn a:hover {
    background-color: #e50872;
    -webkit-transition: cubic-bezier(0.77, 0, 0.175, 1);
    transition: cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
            animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    color: white;
  }
  .mainInfo h1 {
    font-size: 2.5em;
  }
  .mainInfo h2 {
    font-size: 1em;
  }
  .mainInfo .button {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .about h1 {
    font-size: 1.5em;
  }
  .portfolio h1 {
    font-size: 1.5em;
  }
  .portfolio p {
    padding-left: 6%;
    padding-right: 6%;
  }
  .portfolio .portfolioFlex .pflItem {
    height: 520px;
  }
  .cases h1 {
    font-size: 1.5em;
  }
  .ARpart h1 {
    font-size: 1.5em;
  }
  .modalMain .imgWrapper .actualImg {
    max-width: 100vw;
  }
  .modalMain .next {
    font-size: 1.25em;
  }
  .modalMain .next i {
    padding: 8px 6px 8px 9px;
  }
  .modalMain .prev {
    font-size: 1.25em;
  }
  .modalMain .prev i {
    padding: 8px 9px 8px 6px;
  }
  .modellingPart h1 {
    font-size: 1.5em;
  }
  footer h1 {
    font-size: 1.5em;
  }
  footer .footerFlex .footInfo .addressFlex h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .mainCarousel .mainImg1 {
    background-image: url("imgs/arvisual_main01_m.jpg");
  }
  .mainCarousel .mainImg2 {
    background-image: url("imgs/arvisual_main02_m.jpg");
  }
  .mainCarousel .mainImg3 {
    background-image: url("imgs/arvisual_main03_m.jpg");
  }
  .about {
    padding-left: 0;
    padding-right: 0;
  }
  .about h1 {
    margin-bottom: 0;
  }
  .about .ourClients .ourClientLogo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 30px;
    height: 45px;
  }
  .about .ourClients .ourClientLogo:last-of-type {
    display: block;
  }
  .news {
    margin-top: 25px;
  }
  .mainInfo {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .mainInfo h2 {
    margin-bottom: 70px;
  }
  .mainInfo .socialBtns {
    display: none;
  }
  .mainInfo .button {
    display: none;
  }
  .mobileAction {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 70%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  .mobileAction .buttonWrap {
    text-align: center;
  }
  .mobileAction .buttonWrap .button {
    font-size: 1em;
    background-color: #e50872;
    color: white;
    padding: 9px 25px 8px 25px;
    text-decoration: none;
    border-radius: 50px;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .mobileAction .buttonWrap .button:hover {
    background-color: #ee3991;
  }
  .mobileAction .buttonWrap .button:active {
    background: #c50562;
  }
  .mobileAction .socialBtns {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 55px;
  }
  .mobileAction .socialBtns a {
    color: white;
    font-size: 1.7em;
    margin: 30px 15px 0px 15px;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .mobileAction .socialBtns a:hover {
    color: #e50872;
  }
  .mobileAction .socialBtns a:active {
    color: #c50562;
  }
  .mobileAction .socialBtns a .fa-facebook-f {
    font-size: .9em;
  }
  .about {
    padding-top: 30px;
  }
  .portfolio {
    padding-top: 10px;
  }
  .portfolio h1 {
    margin-bottom: 10px;
  }
  .portfolio p {
    margin-bottom: 20px;
  }
  .portfolio .buttonWrap {
    margin-top: 30px;
  }
  .custom {
    margin-top: 40px;
  }
  .custom .customText {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .custom .customText h1 {
    margin-bottom: 0;
  }
  .custom .customText p {
    margin-bottom: 30px;
  }
  .ARpart {
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .ARpart h1 {
    margin-bottom: 0;
  }
  .ARpart p {
    margin-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
  }
  .ARpart .videoWrapper {
    padding-bottom: 46.25%;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .modellingPart {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 35px;
  }
  footer .footerFlex .map {
    height: 200px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .news .newsFlexMin {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about h1 {
    font-size: 1.2em;
  }
  .portfolio h1 {
    font-size: 1.2em;
  }
  .cases h1 {
    font-size: 1.2em;
  }
  .ARpart h1 {
    font-size: 1.2em;
  }
  .modellingPart h1 {
    font-size: 1.2em;
  }
  footer .footerFlex .map {
    height: 150px;
    margin-top: 10px;
  }
  footer .footerFlex .footInfo {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .mainInfo h1 {
    font-size: 2em;
  }
  .mainInfo h2 {
    display: none;
    font-size: 1em;
  }
  .mainInfo .h2hide {
    display: block;
  }
  .portfolio .portfolioFlex .pflItem {
    height: 400px;
  }
}

.nav {
  background-color: black;
}

.about {
  padding-top: 90px;
  padding-left: 0;
  padding-right: 0;
}

.about h1 {
  margin-bottom: 0;
}

.about .aboutText {
  padding-left: 6%;
  padding-right: 6%;
  max-width: 800px;
  margin: 20px auto;
}

.about hr {
  display: none;
}

.about .reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
}

.about .reasons .reasonUnit:first-child {
  margin-right: 50px;
}

.about .reasons .reasonUnit:last-child {
  margin-left: 50px;
}

.about .reasons .reasonUnit h3, .about .reasons .reasonUnit p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  max-width: unset;
}

.about #wrapBlack {
  background-color: black;
  width: 100%;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.about .caseCarousel {
  background: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1150px;
  margin: 0 auto;
}

.about .caseCarousel .testUnit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .caseCarousel h1 {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: normal !important;
  font-size: 1em;
}

.about .caseCarousel p {
  padding-left: 0;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 500px;
  font-weight: 200;
}

.about h2 {
  margin-top: 0px;
  padding-top: 30px;
  border-top: solid 1px black;
}

.about h2:first-of-type {
  border: none;
}

.about .aboutClients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .aboutClients .ourClientLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 40px;
  height: 60px;
  width: 120px;
}

.about .aboutClients .f1 {
  background-image: url("imgs/logos/f1.png");
}

.about .aboutClients .f2 {
  background-image: url("imgs/logos/f2.png");
}

.about .aboutClients .f3 {
  background-image: url("imgs/logos/f3.png");
}

.about .aboutClients .f5 {
  background-image: url("imgs/logos/f5.png");
}

.about .aboutClients .f6 {
  background-image: url("imgs/logos/f6.png");
}

.about .aboutClients .f7 {
  background-image: url("imgs/logos/f7.png");
}

.about .aboutClients .f8 {
  background-image: url("imgs/logos/f8.png");
}

.about .aboutClients .f9 {
  background-image: url("imgs/logos/f9.png");
}

.about .aboutClients .f10 {
  background-image: url("imgs/logos/f10.png");
}

.about .aboutClients .f11 {
  background-image: url("imgs/logos/f11.png");
}

.about .aboutClients .f12 {
  background-image: url("imgs/logos/f12.png");
}

.about .aboutClients .f13 {
  background-image: url("imgs/logos/f13.png");
}

.about .aboutClients .f14 {
  background-image: url("imgs/logos/f14.png");
}

.about .aboutClients .f15 {
  background-image: url("imgs/logos/f15.png");
}

.about .aboutClients .f16 {
  background-image: url("imgs/logos/f16.png");
}

.about .aboutClients .f17 {
  background-image: url("imgs/logos/f17.png");
}

.about .aboutClients .f18 {
  background-image: url("imgs/logos/f18.png");
}

.about .aboutClients .f19 {
  background-image: url("imgs/logos/f19.png");
}

.about .aboutClients .f21 {
  background-image: url("imgs/logos/f21.png");
}

.about .aboutClients .f22 {
  background-image: url("imgs/logos/f22.png");
}

.about .aboutClients .f23 {
  background-image: url("imgs/logos/f23.png");
}

.about .aboutClients .f24 {
  background-image: url("imgs/logos/f24.png");
}

.about .aboutClients .f25 {
  background-image: url("imgs/logos/f25.png");
}

.about .aboutClients .f26 {
  background-image: url("imgs/logos/f26.png");
}

.about .aboutClients .f27 {
  background-image: url("imgs/logos/f27.png");
}

.about .aboutClients .f28 {
  background-image: url("imgs/logos/f28.jpg");
}

.about .aboutClients .f29 {
  background-image: url("imgs/logos/f29.jpg");
}

.about .aboutClients .f30 {
  background-image: url("imgs/logos/f30.jpg");
}

.about .aboutClients .f31 {
  background-image: url("imgs/logos/f31.jpg");
}

.about .aboutClients .f32 {
  background-image: url("imgs/logos/f32.jpg");
}

.about .aboutClients .f33 {
  background-image: url("imgs/logos/f33.jpg");
}

.about .aboutClients .f34 {
  background-image: url("imgs/logos/f34.jpg");
}

.about .aboutClients .f35 {
  background-image: url("imgs/logos/f35.jpg");
}

.about .aboutClients .f36 {
  background-image: url("imgs/logos/f36.jpg");
}

.about .aboutClients .f37 {
  background-image: url("imgs/logos/f37.jpg");
}

.about .aboutClients .f38 {
  background-image: url("imgs/logos/f38.jpg");
}

.about .aboutClients .f39 {
  background-image: url("imgs/logos/f39.jpg");
}

.about .aboutClients .f40 {
  background-image: url("imgs/logos/f40.jpg");
}

.about .aboutClients .f41 {
  background-image: url("imgs/logos/f41.jpg");
}

.about .aboutClients .f42 {
  background-image: url("imgs/logos/f42.jpg");
}

.about .aboutClients .f43 {
  background-image: url("imgs/logos/f43.jpg");
}

.about .aboutClients .f44 {
  background-image: url("imgs/logos/f44.jpg");
}

.about .aboutClients .f45 {
  background-image: url("imgs/logos/f45.jpg");
}

.about .aboutClients .f46 {
  background-image: url("imgs/logos/f46.jpg");
}

.about .aboutClients .f47 {
  background-image: url("imgs/logos/f47.jpg");
}

.about .aboutClients .f48 {
  background-image: url("imgs/logos/f48.jpg");
}

.about .aboutClients .f49 {
  background-image: url("imgs/logos/f49.jpg");
}

.about .aboutClients .f50 {
  background-image: url("imgs/logos/f50.jpg");
}

.about .aboutClients .f53 {
  background-image: url("imgs/logos/f53.jpg");
}

.about .aboutClients .f54 {
  background-image: url("imgs/logos/f54.jpg");
}

.about .aboutClients .l1 {
  background-image: url("imgs/logos/l1.png");
}

.about .aboutClients .l2 {
  background-image: url("imgs/logos/l2.png");
}

.about .aboutClients .l3 {
  background-image: url("imgs/logos/l3.png");
}

.about .aboutClients .l4 {
  background-image: url("imgs/logos/l4.png");
}

.about .aboutClients .l5 {
  background-image: url("imgs/logos/l5.png");
}

.about .aboutClients .l6 {
  background-image: url("imgs/logos/l6.png");
}

.about .aboutClients .l7 {
  background-image: url("imgs/logos/l7.png");
}

.about .aboutClients .l8 {
  background-image: url("imgs/logos/l8.png");
}

.about .aboutClients .l9 {
  background-image: url("logos/zero.png");
}

.about .aboutClients .l10 {
  background-image: url("imgs/logos/l10.png");
}

.about .aboutClients .l11 {
  background-image: url("imgs/logos/l11.png");
}

.about .aboutClients .l12 {
  background-image: url("imgs/logos/l12.png");
}

.about .aboutClients .l13 {
  background-image: url("imgs/logos/l13.jpg");
}

.about .aboutClients .l14 {
  background-image: url("imgs/logos/l14.jpg");
}

.about .aboutClients .l15 {
  background-image: url("imgs/logos/l15.jpg");
}

.about .aboutClients .l16 {
  background-image: url("imgs/logos/l16.jpg");
}

.about .aboutClients .l17 {
  background-image: url("imgs/logos/l17.jpg");
}

.about .aboutClients .l18 {
  background-image: url("imgs/logos/l18.jpg");
}

.about .aboutClients .k1 {
  background-image: url("imgs/logos/k1.png");
}

.about .aboutClients .k2 {
  background-image: url("imgs/logos/k2.png");
}

.about .aboutClients .k3 {
  background-image: url("imgs/logos/k3.png");
}

.about .aboutClients .k4 {
  background-image: url("imgs/logos/k4.png");
}

.about .aboutClients .k5 {
  background-image: url("imgs/logos/k5.jpg");
}

.about .aboutClients .k6 {
  background-image: url("imgs/logos/k6.jpg");
}

.about .aboutClients .k7 {
  background-image: url("imgs/logos/k7.jpg");
}

.about .aboutClients .k8 {
  background-image: url("imgs/logos/k8.jpg");
}

.about .aboutClients .k9 {
  background-image: url("imgs/logos/k9.jpg");
}

.about .aboutClients .k10 {
  background-image: url("imgs/logos/k10.jpg");
}

.about .aboutClients .k11 {
  background-image: url("imgs/logos/k11.jpg");
}

.about .aboutClients .k12 {
  background-image: url("imgs/logos/k12.jpg");
}

.about .aboutClients .k13 {
  background-image: url("imgs/logos/k13.jpg");
}

.about .aboutClients .k14 {
  background-image: url("imgs/logos/k14.jpg");
}

.about .aboutClients .k15 {
  background-image: url("imgs/logos/k15.jpg");
}

.about .aboutClients .o1 {
  background-image: url("imgs/logos/o1.png");
}

.about .aboutClients .o2 {
  background-image: url("imgs/logos/o2.png");
}

.about .aboutClients .o3 {
  background-image: url("imgs/logos/o3.png");
}

.about .aboutClients .o4 {
  background-image: url("imgs/logos/f20.png");
}

.about .aboutClients .o5 {
  background-image: url("imgs/logos/o4.jpg");
}

.about .aboutClients .o6 {
  background-image: url("imgs/logos/o5.jpg");
}

.about .aboutClients .o7 {
  background-image: url("imgs/logos/o6.jpg");
}

.about .aboutClients .hp1 {
  background-image: url("imgs/logos/hp1.jpg");
}

.about .aboutClients .hp2 {
  background-image: url("imgs/logos/hp2.jpg");
}

.about .aboutClients .hp3 {
  background-image: url("imgs/logos/hp3.jpg");
}

.about .aboutClients .hp4 {
  background-image: url("imgs/logos/hp4.jpg");
}

.about .aboutClients .hp5 {
  background-image: url("imgs/logos/hp5.jpg");
}

.about .aboutClients .hp6 {
  background-image: url("imgs/logos/hp6.jpg");
}

.about .aboutClients .cp1 {
  background-image: url("imgs/logos/cp1.jpg");
}

.about .aboutClients .cp2 {
  background-image: url("imgs/logos/cp2.jpg");
}

.about .aboutClients .cp3 {
  background-image: url("imgs/logos/cp3.jpg");
}

.about .aboutClients .cp4 {
  background-image: url("imgs/logos/cp4.jpg");
}

.about .aboutClients .cp5 {
  background-image: url("imgs/logos/cp5.jpg");
}

.about .aboutClients .cp6 {
  background-image: url("imgs/logos/cp6.jpg");
}

.about .aboutClients .cp7 {
  background-image: url("imgs/logos/cp7.jpg");
}

.about .aboutClients .cp8 {
  background-image: url("imgs/logos/cp8.jpg");
}

.about .aboutClients .r1 {
  background-image: url("imgs/logos/r1.png");
}

.about .aboutClients .r2 {
  background-image: url("imgs/logos/r2.png");
}

.about .aboutClients .r3 {
  background-image: url("imgs/logos/r3.png");
}

.about .aboutClients .r4 {
  background-image: url("imgs/logos/r4.jpg");
}

.about .aboutClients .ss1 {
  background-image: url("imgs/logos/ss1.jpg");
}

.about .aboutClients .ss2 {
  background-image: url("imgs/logos/ss2.jpg");
}

.about .aboutClients .ss3 {
  background-image: url("imgs/logos/ss3.jpg");
}

.about .aboutClients .ss4 {
  background-image: url("imgs/logos/x4.jpg");
}

.about .aboutClients .sf1 {
  background-image: url("imgs/logos/sf1.jpg");
}

.about .aboutClients .sf2 {
  background-image: url("imgs/logos/sf2.jpg");
}

.about .aboutClients .sf3 {
  background-image: url("imgs/logos/f52.jpg");
}

.about .aboutClients .sf4 {
  background-image: url("imgs/logos/sf3.jpg");
}

.about .aboutClients .sn1 {
  background-image: url("imgs/logos/sn1.jpg");
}

.about .aboutClients .sn2 {
  background-image: url("imgs/logos/f4.png");
}

.about .aboutClients .sn3 {
  background-image: url("imgs/logos/f51.jpg");
}

footer {
  margin-top: 30px;
}

@media only screen and (max-width: 1260px) {
  .about .reasons {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media only screen and (max-width: 1100px) {
  .about .reasons .reasonUnit h3 {
    margin-bottom: 5px;
  }
  .about .reasons .reasonUnit p {
    margin-top: 0px;
  }
  .about .aboutClients .ourClientLogo {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .about #wrapBlack {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .about .aboutClients .ourClientLogo {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

@media only screen and (max-width: 750px) {
  .about h1 {
    text-align: left;
    padding-left: 6%;
  }
  .about .aboutText {
    margin-top: 10px;
    text-align: left;
  }
  .about .reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .reasons .reasonUnit:first-child {
    margin-left: 0;
    margin-right: 0;
  }
  .about .reasons .reasonUnit:first-child p:last-child {
    margin-bottom: 0;
  }
  .about .reasons .reasonUnit:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    padding-top: 80px;
  }
  .about p {
    padding-left: 6%;
    padding-right: 6%;
  }
  .about hr {
    display: block;
    width: 88%;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .about .aboutClients .ourClientLogo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .about h2 {
    font-size: 1.2em;
  }
  .about hr {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  footer {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=aboutstyle.css.map */